<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-button expand="full" fill="solid" size="large" padding shape="round" color="danger" (click)="vaiFormulario()">
    Enviar</ion-button>

</ion-content>